
<section>


<script type="text/ng-template" id="warning-dialog.html">
  <div class="modal-header">
   <h3>Inactive for too long, please click or move your mouse to continue!</h3>
  </div>
  <div idle-countdown="countdown" ng-init="countdown=5" class="modal-body">
   <uib-progressbar max="5" value="5" animate="false" class="progress-striped active">You'll be logged out in {{countdown}} second(s).</uib-progressbar>
  </div>

</script>
<script type="text/ng-template" id="timedout-dialog.html">
  <div class="modal-header">
   <h3>You've Timed Out!</h3>
  </div>
  <div class="modal-body">
   <p>
     You are logged out.
   </p>
 </div>
</script>

</section>