<style>
.panel-heading h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}

table {
    border-collapse: collapse;
    border: #D3D3D3;
    text-align: center
}

th {
  text-align: center;
  background-color: #D3D3D3;
  height:10px
}

.arrow-up {
  width:0;
  height:0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.arrow-down {
  width:0;
  height:0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}

.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}


</style>


<div ng-init="getProjects(); checkAuthen(!addProject);">


  <form class = "row">

    <div class = "col-md-3">
      <h2><strong> Projects List</strong></h2>
    </div>
    <br>
    <div class = "form-group-row">
      <div class = "col-md-6">
        <input class = "form-control" type= "text" placeholder="Search..." ng-model = "searchText">
      </div>
      <a class = "btn btn-sm btn-primary col-md-offset-1" ng-click = "checkAuthen(addProject)" ng-hide = "!adminloggedin"><span class = "glyphicon glyphicon-plus"></span> New Project</a>
    <div class= "clearfix"></div>

  </div>
    
  
  </form>
  <hr>

  View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>5</option><option>10</option><option>20</option><option>50</option></select> projects at a time.

  <br><br>

  <div>
    <table class = "table table-bordered table-hover">
      <thead>
        <tr>
          <th ng-click = "sortBy('ProjectID')">Project ID
          <span class="sortorder" ng-show="propertyName === 'ProjectID'" ng-class="{reverse: reverse}"></span></th>
          <th ng-click = "sortBy('ProjectName')">Project Name
          <span class="sortorder" ng-show="propertyName === 'ProjectName'" ng-class="{reverse: reverse}"></span></th>
          <th ng-click = "sortBy('SubjectsID.length')"># of Subjects
          <span class="sortorder" ng-show="propertyName === 'SubjectsID.length'" ng-class="{reverse: reverse}"></span></th>
          <th>Descriptions</th>
          <th>View Details</th>

        </tr>
      </thead>

      <tbody>
        <tr ng-repeat = "project in projects.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter: searchText">
          <td>{{project.ProjectID}}</td>
          <td>{{project.ProjectName}}</td>
          <td>{{project.SubjectsID.length}}</td>
          <td>{{project.ProjectDesc}}</td>
          <td> 
            <div><a class="btn btn-xs btn-primary" ng-disabled = "!checkViewable(project.ProjectID)" ui-sref = "projectDetail({ProjectID: project.ProjectID})">View Details</a></div>
          </td>
        </tr>

      </tbody>
    </table>

    <pagination total-items="projects.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>


  </div>

    <br>

    <div class = "pull-right btn btn-link" ng-hide = "!adminloggedin" ng-click = "ToChangelog('Projects')"> View All Recent Changes</div>


</div>