
<style>
ul#scanList li
{
	display: inline;
}

table {
    border-collapse: collapse;
    border: #D3D3D3;
    text-align: center;
    width:100%;
    vertical-align: middle
}

th {
  text-align: center;
  background-color: #D3D3D3;
  height:30px;
  vertical-align: middle
}

td {
  height:30px;
}
</style>

<div ng-init = "checkAuthen(); getChangelog()">

<h2><strong> {{docType}} History</strong></h2>
<br>
<table class = "table table-bordered col-md-12">
	<thead style ="text-align: center">
		<tr>
			<th>User</th>
			<th class = "col-md-2">Date (m/d/yy)</th>
			<th class = "col-md-1">Doc ID</th>
			<th class = "col-md-1">Action</th>
			<th class = "col-md-7">Changes</th>
			<th class = "col-md-1">Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat = "change in allchangelog | orderBy: '-Date'">
			<td>{{change.User}}</td>
			<td>{{change.Date | date: 'short'}}</td>
			<td>{{change.ChangeDocID}}</td>
			<td>{{change.ChangeType}}</td>
			<td>
				<div class = "well" ng-repeat = "key in change.ChangedField">
					<h4>{{key.Key}}</h4>

					<div class="form-group row">
			          <label class="form-control-label col-md-1">Old:</label>
			            <div class = "col-md-6">
			              {{key.OldValue}}
			            </div>
			        </div>

			        <div class="form-group row">
			          <label class="form-control-label col-md-1">New:</label>
			            <div class = "col-md-6">
			              {{key.NewValue}}
			            </div>
			        </div>


				</div>
			</td>
			<td><button ng-disabled = "!adminloggedin" class = "btn btn-xs btn-danger"><a data-toggle="modal" data-target="#deleteHistory-{{$index}}"><span class = "glyphicon glyphicon-remove"></span></a></button>

			<!-- delete meg type-->
			<div class="modal fade" id="deleteHistory-{{$index}}" tabindex="-1" role="dialog">
	          <div class="modal-dialog" role="document">
	            <div class="modal-content">
	              <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                <h3 class="modal-title" id="myModalLabel"><strong>WARNING!</strong></h3>
	              </div>
	              <div class="modal-body">
	                    This record will be permenantly deleted, are you sure?
	              </div>
	              <div class="modal-footer">
	                <a type = "button" class="btn btn-danger"  data-dismiss="modal" ng-click = "removeRecord(change)">Delete (danger!)</a>
	                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
	              </div>
	            </div>
	          </div>
	        </div>

			</td>	
		</tr>

	</tbody>
</table>

</div>