<!-- COME BACK TO THIS PAGE AND CREATE A LEFT OR RIGHT SIDE NAVIGATION 
REDESIGN THE PAGE IF TIME PREMITS-->

<link rel = "stylesheet" href = "./css/errorMessages.css">

<nav>
  <a class="nav-link" ui-sref="subjects">Go Back</a>
</nav>

<div class = "jumbotron verticle-center">

    <h2><strong>Update Subject</strong></h2>

    <div class = "heading"></div>
    <br>

    <form  ng-init = "checkAuthen(oldSubjectID, !newSubject);getSubject()" ng-submit="editSubjectForm.$valid && updateSubject()" class="form-horizontal" name = "editSubjectForm">
      <h5>* Required fields</h5>
      <!-- <h5>* Please note at field 'Date of Birth': <strong>yyyy-12-10T00:00:00:00</strong> is equivalent to <strong>yyyy-12-09</strong></h5> -->
      

      <br>

    <container>
      <h4>Subject Information</h4><br>
        <div class="form-group row">
          <label class="form-control-label col-md-2">Subject ID* :</label>
          <div class = "col-md-3"  ng-class = "{'has-error': editSubjectForm.subjectID.$touched && editSubjectForm.subjectID.$invalid, 'has-success':editSubjectForm.subjectID.$touched && editSubjectForm.subjectID.$valid}">
            <input required type="text" class="form-control" ng-model="subject.ID" name = "subjectID" placeholder="MJT###" ng-pattern = "/^MJT\d{3,6}$/" >
            <div class = "error msg_error" data-ng-messages = "editSubjectForm.subjectID.$error" data-ng-show = "editSubjectForm.subjectID.$touched">
               <span ng-show = "editSubjectForm.subjectID.$invalid">
                 <span class = "glyphicon glyphicon-exclamation-sign"></span>
                  Please give this subject a ID in MJT### format!
               </span>
            </div>
          </div>

          <label class="col-md-2 col-md-offset-1 form-control-label">Sex:</label>
           <div class = "col-md-3">
          <select ng-model="subject.Sex" class="form-control">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Unknown">Unknown</option>
            <option value="Other">Other</option>
          </select>
         </div>

        </div>

        <div class="form-group row">
          <label class="form-control-label col-md-2">First Name :</label>
            <div class = "col-md-3">
              <input type="text" class="form-control" data-ng-model="subject.FirstName" name = "firstname">
            </div>

          <label class="col-md-2 col-md-offset-1 form-control-label">Last Name:</label>
            <div class = "col-md-3">
              <input type="text" class="form-control" data-ng-model="subject.LastName" name = "lastname">
            </div>

        </div>

        <div class="form-group row">
          <label class="col-md-2 form-control-label">Handedness: </label>
           <div class = "col-md-3">
          <select name= "Handedness" id = "Handedness" class="form-control" ng-model="subject.Handedness" placeholder=" ">
            <option value = "Left">Left</option>
            <option value = "Right">Right</option>
            <option value = "Unknown">Unknown</option>
          </select>
         </div>

         <label class="col-md-2 col-md-offset-1 form-control-label">Diagnosis: </label>
          <div class = "col-md-3">
          <select name= "Diagnosis" id = "Diagnosis" class="form-control" ng-model="subject.Diagnosis" placeholder=" ">
              <option value = "ASD">ASD</option>
              <option value = "Pre-term">Pre-term</option>
              <option value = "ADHD">ADHD</option>
              <option value = "OCD">OCD</option>
              <option value = "BPD">BPD</option>
              <option value = "Control">Control</option>
              <option value = "Other">Other</option>
              <option value = "Unknown">Unknown</option>
          </select>
          </div>

        </div>

        <div class="form-group row">
          <label class="col-md-2 form-control-label">MRN: </label>
           <div class = "col-md-3" ng-class = "{'has-error': editSubjectForm.subjectMRN.$touched && editSubjectForm.subjectMRN.$invalid, 'has-success':editSubjectForm.subjectMRN.$touched && editSubjectForm.subjectMRN.$valid}">
            <input type="number" class="form-control" ng-model="subject.MRN" name = "subjectMRN">
            <div class = "error msg_error" data-ng-messages = "editSubjectForm.subjectMRN.$error" data-ng-show = "editSubjectForm.$dirty" >
               <span ng-show = "editSubjectForm.subjectMRN.$invalid">
                  <span class = "glyphicon glyphicon-exclamation-sign"></span>
                  Subject's MRN must be a number!
               </span>
            </div>
            </div>

         <label class="col-md-3 col-md-offset-1 form-control-label">Permission to Contact: </label>
          <div class = "col-md-3">
              <div class = "form-group-row">
                   <input type="checkbox" ng-model="subject.ContactPermit" ng-true-value = "true"> Yes
                   <input type="checkbox" ng-model="subject.ContactPermit" ng-true-value = "false"> No
                </div>
          </div>

        </div>
        

        <div class="form-group row">
          <label class="form-control-label col-md-2">Date of Birth :</label>
          <div class = "col-md-3" ng-class = "{'has-error': editSubjectForm.subjectbday.$touched && editSubjectForm.subjectbday.$invalid, 'has-success':editSubjectForm.subjectbday.$touched && editSubjectForm.subjectbday.$valid}">
            <datepicker date-format="yyyy-MM-dd"><input type="text" class="form-control" ng-model="subject.DateOfBirth" ng-pattern = "/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/" name = "subjectbday"></datepicker>

            <div class = "error msg_error" data-ng-messages = "editSubjectForm.subjectbday.$error" >
               <span ng-show = "editSubjectForm.subjectbday.$invalid">
                  <span class = "glyphicon glyphicon-exclamation-sign"></span>
                  Please enter date in yyyy-MM-dd format (ie. 2015-01-30)
               </span>
            </div>
          </div>

           <label class="form-control-label col-md-offset-1 col-md-2">Contact Info:</label>
          <div class = "col-md-4">
            <input class="form-control" ng-model="subject.ContactInfo" placeholder=" ">
          </div>

        </div>

        <div class="form-group row">
          <label class="form-control-label col-md-2">Other:</label>
          <div class = "col-md-10">
            <textarea class="form-control" ng-model="subject.Other" placeholder=" "></textarea>
          </div>
        </div>
        
        <br>


      </container>

<!--=============================for projects enrolled =====================-->

      
        
      <br>
      <container ng-init = "getAuthenProjectList()">
        <h4>Project Participation</h4><br>
        <div class="form-group row">
          <label class="col-md-2 form-control-label">Project(s): </label>
          <div class = "col-md-1"> 
          <button type="button" class="btn btn-secondary btn-sm" ng-click= "addProject()" ><span class="glyphicon glyphicon-plus"></span></button>
          </div>
        </div>

          <div class="form-group row" ng-repeat = 'project in subject.Projects'>
          <div class="col-md-3" ng-class = "{'has-error': editSubjectForm.projectID{{$index}}.$touched && editSubjectForm.projectID{{$index}}.$invalid, 'has-success':editSubjectForm.projectID{{$index}}.$touched && editSubjectForm.projectID{{$index}}.$valid}">
              <!-- <input required type="text" class="form-control" name="projectID{{$index}}" ng-model = "project.ProjectID" placeholder="Project ID (ie. WM)"/> -->
              <select required type = "text" class="form-control" name="projectID{{$index}}" ng-model = "project.ProjectID">
                <optgroup>
                  <option>{{project.ProjectID}}</option>
                </optgroup>
                <optgroup>
                   <option ng-repeat = "authenproject in AuthenProjects">{{authenproject.ProjectID}}</option>
                </optgroup>
               
              </select>
              <div class = "error msg_error" data-ng-show = "editSubjectForm.projectID{{$index}}.$touched">
               <span ng-show = "editSubjectForm.projectID{{$index}}.$invalid">
                 <span class = "glyphicon glyphicon-exclamation-sign"></span>
                  Project ID is required!
               </span>
            </div> 
          </div>



          <div class="col-md-4" ng-class = "{'has-error': editSubjectForm.subjectIDinProject{{$index}}.$touched && editSubjectForm.subjectIDinProject{{$index}}.$invalid, 'has-success':editSubjectForm.subjectIDinProject{{$index}}.$touched && editSubjectForm.subjectIDinProject{{$index}}.$valid}">
              <input required type="text" class="form-control" name="subjectIDinProject{{$index}}" ng-model = "project.SubjectIDinProject" placeholder="Subject ID in Project" />
              <div class = "error msg_error" data-ng-show = "editSubjectForm.subjectIDinProject{{$index}}.$touched">
               <span ng-show = "editSubjectForm.subjectIDinProject{{$index}}.$invalid">
                 <span class = "glyphicon glyphicon-exclamation-sign"></span>
                  Subject's ID in this project is required!
               </span>
            </div>
          </div>

            <div class = "col-md-1 btn-group btn-group-sm">
               <button type="button" class="btn btn-secondary btn-sm" ng-click = "removeProject($index)"><span class="glyphicon glyphicon-minus"></span></button>
            </div>

        </div>
      </container>


    <!--   <container>
        <h4>Accessibility</h4>
        <br>
        <div class="form-group row">

          <label class="col-md-2 form-control-label">User(s): </label>
          <div class = "col-md-1"> 
          <button type="button" class="btn btn-secondary btn-sm" ng-click= "addUser()" ><span class="glyphicon glyphicon-plus"></span></button>
          </div>
        </div>

           <div class="form-group row" ng-repeat = 'user in subject.AccessAuthen.slice(1,entries.length)'>
              <div class = "col-md-4" ng-class = "{'has-error': addSubjectForm.User{{$index}}.$touched && addSubjectForm.User{{$index}}.$invalid, 'has-success':addSubjectForm.User{{$index}}.$touched&& addSubjectForm.User{{$index}}.$valid}">
                <input required type = "text" class="form-control" name="User{{$index}}" ng-model = "user.uid" placeholder="User uid">
                <div class = "error msg_error" data-ng-show = "addSubjectForm.User{{$index}}.$touched">
                 <span ng-show = "addSubjectForm.User{{$index}}.$invalid">
                   <span class = "glyphicon glyphicon-exclamation-sign"></span>
                    User's uid is required!
                 </span>
                 </div>
              </div>

              <div class = "col-md-offset-1" ng-class = "{'has-error': addSubjectForm.userViewOnly{{$index}}.$touched && addSubjectForm.userViewOnly{{$index}}.$invalid, 'has-success':addSubjectForm.userViewOnly{{$index}}.$touched&& addSubjectForm.userViewOnly{{$index}}.$valid}">
                    <div style="margin:0;padding:0" class = "form-group-row col-md-2 col-offset-1">View Only 
                       <input type="checkbox" name="userViewOnly{{$index}}" ng-model = "user.ViewOnly" ng-true-value = "true">
                    </div>
                  <div class = "error msg_error" data-ng-show = "addSubjectForm.userViewOnly{{$index}}.$touched">
                    <span ng-show = "addSubjectForm.userViewOnly{{$index}}.length == 0">
                      <span class = "glyphicon glyphicon-exclamation-sign"></span>
                        Please indicate this user's accesibility level!
                    </span>
                 </div>
              </div>
              <div class = "col-md-1 btn-group btn-group-sm">
               <button type="button" class="btn btn-secondary btn-sm" ng-click= "removeUser($index+1)"><span class="glyphicon glyphicon-minus"></span></button>
              </div>
            </div>
      </container> -->

        <div class = "col-md-8 col-md-offset-2"> 
          <div data-ng-show = "error" class= "text-center text-danger">
            <div class = "alert alert-danger" role="alert">
              <strong data ng-bind = "error"></strong>
            </div>
          </div>
        </div>


        <p class = "container"><div class="form-group pull-right"><div class="col-md-2">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editsubject">Update Subject</button>

  <div class="modal fade" id="editsubject" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">ARE YOU SURE?</h4>
          </div>
          <div class="modal-body">
                {{subject.ID}} will be permenantly changed, incorrect entries may cause errors in other files in the database. Please double check your entries before submitting!
          </div>
          <div class="modal-footer">
            <a type = "submit" class="btn btn-danger" data-dismiss="modal" ng-click = "editSubjectForm.$valid && updateSubject()">I am sure (!)</a>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Check again</button>
          </div>
        </div>
      </div>
  </div>



        </div></div></p>




    </form>
</div>
