
<!-- COME BACK TO THIS PAGE AND CREATE A LEFT OR RIGHT SIDE NAVIGATION 
REDESIGN THE PAGE IF TIME PREMITS-->



<style>
ul#scanList li
{
  display: inline;
}

table {
    border-collapse: collapse;
    border: #D3D3D3;
    text-align: center;
    width:100%;
}

th {
  text-align: center;
  background-color: #D3D3D3;
  height:30px;
}

td {
  height:30px;
}

</style>

<nav>
  <a class="nav-link" ui-sref="subjects">To Subjects List</a>
</nav>
<br>

<div class = "jumbotron jumbotron-fluiod">
  <div ng-init="checkAuthen(oldSubjectID);getSubject()">



    <div class = "pull-right">
      <a class = "btn btn-link" href = "subjects/{{subject.ID}}/edit"><span class = "glyphicon glyphicon-pencil"></span></a>
      
      <div class = "btn btn-link" ng-click = "ToOneChangelog(subject._id)"  data-toggle="modal" data-target="#viewchangelog"> <span class = "glyphicon glyphicon-calendar"></span></div>
    </div>


    <div>
      <h3><strong>Subject Information: </strong>{{subject.FirstName}} {{subject.LastName}}</h3>
    </div>


    <div>
    <section>
      <div class = "well text-center verticle-align: left">
        <div class="col-md-3"><strong>ID: </strong>{{subject.ID}}</div>
        <div class="col-md-3"><strong>Sex: </strong>{{subject.Sex}}</div>
        <div class="col-md-3"><strong>Handedness: </strong>{{subject.Handedness}}</div>
        <div class="col-md-3"><strong>Diagnosis: </strong>{{subject.Diagnosis}}</div>
        <br><br>
        <div class="col-md-3"><strong>DOB: </strong>{{subject.DateOfBirth | date:'yyyy-MM-dd'}} </div>
        <div class="col-md-3"><strong>MRN: </strong>{{subject.MRN}} </div>
        <div class="col-md-6"><strong>Contact for Future Studies: </strong>{{subject.ContactPermit}} / {{subject.ContactInfo}} </div>
        <br>
      </div>
      </section>

      <h5> <strong>Projects Enrolled: </strong></h5>
      <class ng-repeat="project in subject.Projects">
      <div class="panel panel-info" >
      <div class="panel-heading" role="tab" id="heading-{{$index}}"> 
        <h4 class="panel-title"> 
        <a class="collapsed" role="button" data-toggle="collapse" data-target="#collapse-{{$index}}" aria-expanded="false" aria-controls="collapse-{{$index}}"><strong>{{project.ProjectID}}</strong></a>  
        </h4> </div>

        <div id="collapse-{{$index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{$index}}"> 


         <div class="panel-body">
          <ul>
            <li><strong>View subject's scan sessions in {{project.ProjectID}}  </strong>
              <a class = "btn btn-xs btn-info" ng-click = "getAuthenViewList(project.ProjectID, project.SubjectIDinProject, !onsubjects)">  View</a></li>
            </ul>
         </div> 
        </div>
      </div>
      </class>
      </div>

    </div>

    

    <br><br>
    <a class = "btn btn-sm btn-danger" data-toggle="modal" data-target="#myDeleteModal"><span class = "glyphicon glyphicon-trash"></span> Danger! </a>

     <!-- view user changelog -->
  <div class="modal fade" id="viewchangelog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4><strong>{{subject.ID}} - Changelog </strong></h4>
        </div>

        <div class="modal-body" style=" font-weight:normal;text-align: left; word-wrap: break-word">

        View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)"><option>1</option><option>3</option><option>5</option><option>10</option><option>20</option></select> records at a time.

        <pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"></pagination>
       
         

         <table class = "table table-bordered table-condensed">
          <thead>
              <th class = "col-md-1">User</th>
              <th class = "col-md-1">Date</th>
              <th class = "col-md-1">Action</th>
              <th class = "col-md-8">Changes</th>
          </thead> 

           <tbody>
              <tr ng-repeat = "change in changelog | orderBy: '-Date' | filter : paginate">
                <td>{{change.User}}</td>
                <td>{{change.Date | date: 'short'}}</td>
                <td>{{change.ChangeType}}</td>
                <td>
                  <div class = "well" ng-repeat = "key in change.ChangedField">
                    <h4>{{key.Key}}</h4>

                    <div class="form-group row">
                          <label class="form-control-label col-md-2">Old:</label>
                            <div class = "col-md-8">
                              {{key.OldValue}}
                            </div>
                        </div>

                        <div class="form-group row">
                          <label class="form-control-label col-md-2">New:</label>
                            <div class = "col-md-8">
                              {{key.NewValue}}
                            </div>
                        </div>
                  </div>
                </td> 
              </tr>
            </tbody>
         </table>

          <pre>Page: {{currentPage}} / {{numPages}}</pre>


        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>


  </div>

 


  <div class="modal fade" id="myDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">WARNING!</h4>
          </div>
          <div class="modal-body">
                {{subject.ID}} will be permenantly deleted, are you sure?
          </div>
          <div class="modal-footer">
            <a type = "button" class="btn btn-danger" data-dismiss="modal" ng-click = "removeSubject(subject.ID)">Delete(!)</a>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
  </div>